In [7]:
!pip install selenium

Requirement already satisfied: selenium in d:\new folder\lib\site-packages (3.141.0)
Requirement already satisfied: urllib3 in d:\new folder\lib\site-packages (from selenium) (1.25.11)

In [8]:
#LET REQRURIED LALARARIES
import selenium
import pandas as pd
from selenium import webdriver

In [9]:
# go to link= https://chromedriver.chromium.org/downloads

In [10]:
# lets frist connect to the web drivers
driver= webdriver.Chrome(r"C:\Users\G\Downloads\chromedriver_win32\chromedriver.exe")

In [11]:
# spectfying the URL of the webpage to be scraped
url= ("https://www.naukri.com/data-scientist-jobs-in-delhi-ncr?k=data%20scientist&l=delhi%2Fncr")

In [12]:
# let open the webpage through our web drivers
driver.get(url)

In [67]:
job_titles=[]
company_names=[]
locations_list=[]
experience_list=[]

In [68]:
# let extract all the tags having the job-titles
titles_tag= driver.find_elements_by_xpath("//a[@class='title fw500 ellipsis']")
titles_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="3ec0c71a-67ac-4c00-9d05-4bdcf32d360a")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="9482c131-8d0e-44d7-8bdb-92d573f6ef54")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="b063bdad-2e82-4f3c-981f-8088d619da09")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="325db8e4-f446-478f-a954-3cbc522cf5d6")>]

In [69]:
# let extracted job titles all items for loop
for i in titles_tag:
    titles=i.text
    job_titles.append(titles)
job_titles[0:4]

['Data Scientist - Machine Learning - Remote Working',
 'Founding Member & Principal Data Scientist - Machine Learning',
 'Data Scientist - Python/Machine Learning',
 'Data Scientist']

In [70]:
# let extract all the tags having the company-names
company_tag= driver.find_elements_by_xpath("//a[@class='subTitle ellipsis fleft']")
company_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="2d756dbe-2b3e-40d5-9d6b-65351feb5840")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="c4ba271c-8978-425f-851b-b04bb7a21f5f")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="06a3ca19-5aeb-42bc-ad71-296a77789f77")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="b9c0c4a3-3b2b-4d89-8e42-40d7700843c5")>]

In [71]:
# let extracted company-names all items for loop
for i in company_tag:
    company=i.text
    company_names.append(company)
company_names[0:4]

['Doji Ltd', 'Benovymed Healthcare', 'Jubna', 'IBM India Pvt. Limited']

In [72]:
# let extract all the tags having the company-names
experience_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi experience']/span[1]")
experience_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="a4ad4ab1-fc7b-48cc-bd8c-7d4f5f1e0f11")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="7b98507d-fa6c-42ea-9d91-db2ed0eb05f7")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="b6e51f92-660f-4074-94c1-5315fd6a7953")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="e772432e-5b85-4874-accc-a49d489c8931")>]

In [73]:
# let extracted company-names all items for loop
for i in experience_tag:
    experience=i.text
    experience_list.append(experience)
experience_list[0:4]

['2-5 Yrs', '3-7 Yrs', '5-8 Yrs', '3-5 Yrs']

In [77]:
# let extract all the tags having the company-names
location_tag= driver.find_elements_by_xpath("//li[@class='fleft grey-text br2 placeHolderLi location']/span[1]")
location_tag[0:4]

[<selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="c26a91f2-f8a9-4bb9-aea0-44d8472c5330")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="bc4653c5-8d7b-4e1a-8a08-50f78b7267e4")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="036dcada-d296-44d6-8b61-272c3489cafd")>,
 <selenium.webdriver.remote.webelement.WebElement (session="b4181f9d9af1c4daf349fc21cf350143", element="0e26fc59-be09-4641-b4ae-69430b1e51e6")>]

In [79]:
# let extracted company-names all items for loop
for i in location_tag:
    location=i.text
    locations_list.append(location)
locations_list[0:4]

['Delhi NCR, Bengaluru, Anywhere in India',
 'Gurgaon Gurugram',
 'Noida',
 'Gurgaon Gurugram']

In [81]:
print(len(job_titles),
len(company_names),
len(locations_list),
len(experience_list))

20 20 20 20

In [85]:
import pandas as pd
jobs= pd.DataFrame({})
jobs['titles']=job_titles
jobs['comapany']=company_names
jobs['location']=locations_list
jobs['experience_list']=experience_list
jobs

,titles,comapany,location,experience_list
0,Data Scientist - Machine Learning - Remote Wor...,Doji Ltd,"Delhi NCR, Bengaluru, Anywhere in India",2-5 Yrs
1,Founding Member & Principal Data Scientist - M...,Benovymed Healthcare,Gurgaon Gurugram,3-7 Yrs
2,Data Scientist - Python/Machine Learning,Jubna,Noida,5-8 Yrs
3,Data Scientist,IBM India Pvt. Limited,Gurgaon Gurugram,3-5 Yrs
4,Senior Data Scientist (Remote / Work from Home),WalletHub,"Chennai, Delhi NCR, Bengaluru",10-20 Yrs
5,Tech Mahindra hiring For Data Scientist- Noida,tech mahindra ltd,Noida,5-10 Yrs
6,Associate Data Scientist,Indegene Private Limited,Gurgaon,6-11 Yrs
7,Data Scientist - Commercial Planning and Analysis,Air Asia India Limited,"Delhi NCR, Gurgaon",1-6 Yrs
8,Analyst/Senior Analyst - DATA Scientist,Tredence,"Chennai, Delhi NCR, Bengaluru",2-4 Yrs
9,Data Scientist,Amity University,"Faridabad, Delhi NCR, Ghaziabad",6-8 Yrs
10,Data Scientist,GreatLearning,"Bengaluru, Gurgaon",3-5 Yrs
11,Opening For Data Scientist in Axtria,Axtria India Private Limited,"Bengaluru, Gurgaon, Noida",7-12 Yrs
12,Data Scientist/Analyst - Machine Learning/Deep...,EchoIndia,Delhi,3-6 Yrs
13,Senior Data Scientist (Algorithmic Trading),TETHYS TECHNOLOGIES PRIVATE LIMITED,Noida,5-10 Yrs
14,Python Developer with R (Data Scientist) - Noi...,Om Careers,"Gurgaon, Noida",3-7 Yrs
15,Data Scientist,World Wide Technology,Gurgaon,3-8 Yrs
16,Data Scientist – Document Extraction (Immediat...,ARIMON DIGILYTICS PRIVATE LIMITED,Gurgaon,2-5 Yrs
17,Data Scientist,Comviva Technology,Gurgaon,1-3 Yrs
18,Data Scientist( Hadoop/Redshift/BigQuery),Jubna,Noida,4-6 Yrs
19,Data scientist at revolutionary fintech startup,Fintech startup,"Delhi NCR, Mumbai, Bengaluru",3-8 Yrs